[mysqld]

bind-address = 0.0.0.0
max_connections=250

#innodb_use_native_aio=0
innodb_buffer_pool_size = 256M
innodb_flush_log_at_trx_commit = 2

max_heap_table_size=128M
tmp_table_size=128M
query_cache_limit    = 1M
query_cache_size     = 64M


character-set-server    = utf8
sql-mode='NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER'

